In [153]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

In [154]:
data=pd.read_excel("Data Science.xlsx",sheetname="Sheet1",na_values="0")

In [155]:
display(data.head())

   User id     Category      Product Ordered Date  Price Spent
0        2  Electronics           TV   2017-09-23        20000
1        1    Groceries         Rice   2017-09-24         1500
2        4      Transit  Cab Booking   2017-09-24          300
3        1  Electronics       Mobile   2017-09-25        15000
4        3    Groceries         Atta   2017-09-25          500

In [156]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
User id         42 non-null int64
Category        42 non-null object
Product         42 non-null object
Ordered Date    42 non-null datetime64[ns]
Price Spent     42 non-null int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 1.7+ KB

In [157]:
data.describe()

         User id   Price Spent
count  42.000000     42.000000
mean    2.547619   6745.238095
std     1.108776  11377.324525
min     1.000000    200.000000
25%     2.000000    500.000000
50%     2.500000   1650.000000
75%     3.750000   9000.000000
max     4.000000  50000.000000

In [158]:
data["Category"].value_counts()

Electronics             10
Apparels                 9
Transit                  9
Groceries                7
Movies/Entertainment     7
Name: Category, dtype: int64

In [159]:
data.isnull().sum()

User id         0
Category        0
Product         0
Ordered Date    0
Price Spent     0
dtype: int64

In [160]:
data["Product"].value_counts()

Clothing         9
Cab Booking      9
Movie Booking    7
Mobile           5
Rice             3
Refrigerator     2
Dal              2
Atta             2
TV               1
Oven             1
Tv               1
Name: Product, dtype: int64

In [161]:
print(len(data))
data["Product"].iloc([4])
data["Product"][4]

42

'Atta'

In [162]:
for i in range(len(data["Product"])):
    if data["Product"][i]=="Tv": 
        data["Product"][i]="TV"
       # data[j] =data[j].map(lambda j: j.upper())

C:\Users\merus\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [163]:
data["Product"]
#data["Product"][32]

0                TV
1              Rice
2       Cab Booking
3            Mobile
4              Atta
5          Clothing
6               Dal
7      Refrigerator
8       Cab Booking
9     Movie Booking
10           Mobile
11    Movie Booking
12             Rice
13    Movie Booking
14    Movie Booking
15      Cab Booking
16         Clothing
17      Cab Booking
18         Clothing
19         Clothing
20           Mobile
21             Atta
22    Movie Booking
23         Clothing
24             Rice
25         Clothing
26      Cab Booking
27              Dal
28    Movie Booking
29      Cab Booking
30           Mobile
31    Movie Booking
32               TV
33         Clothing
34     Refrigerator
35      Cab Booking
36           Mobile
37         Clothing
38      Cab Booking
39      Cab Booking
40             Oven
41         Clothing
Name: Product, dtype: object

In [164]:
data["Product"].value_counts()

Clothing         9
Cab Booking      9
Movie Booking    7
Mobile           5
Rice             3
TV               2
Refrigerator     2
Dal              2
Atta             2
Oven             1
Name: Product, dtype: int64

In [165]:
#estimatiing the max price spent by users for each product in categories
print(data.groupby(["Category","Product"])["Price Spent"].max())

Category              Product
Apparels              Clothing         20000
Electronics           Mobile           20000
                      Oven              6000
                      Refrigerator     50000
                      TV               40000
Groceries             Atta               500
                      Dal               2000
                      Rice              1800
Movies/Entertainment  Movie Booking     1200
Transit               Cab Booking       1000
Name: Price Spent, dtype: int64

In [166]:
print(data.groupby(["Category","Product"])["User id"].count())

Category              Product
Apparels              Clothing         9
Electronics           Mobile           5
                      Oven             1
                      Refrigerator     2
                      TV               2
Groceries             Atta             2
                      Dal              2
                      Rice             3
Movies/Entertainment  Movie Booking    7
Transit               Cab Booking      9
Name: User id, dtype: int64

In [167]:
#seggrigating by categories
categories_data=data.groupby("Category")

In [168]:
t=(group.sort_index(by="User id", ascending=True) for Product,group in categories_data)

In [169]:
for i in t:
    print(i)

    User id  Category   Product Ordered Date  Price Spent
16        1  Apparels  Clothing   2017-10-07         2000
5         2  Apparels  Clothing   2017-09-26         2500
33        2  Apparels  Clothing   2017-10-19        20000
37        2  Apparels  Clothing   2017-10-20         2000
18        3  Apparels  Clothing   2017-10-10         2000
23        3  Apparels  Clothing   2017-10-13        10000
19        4  Apparels  Clothing   2017-10-10         3000
25        4  Apparels  Clothing   2017-10-14         3000
41        4  Apparels  Clothing   2017-10-22         2000
    User id     Category       Product Ordered Date  Price Spent
3         1  Electronics        Mobile   2017-09-25        15000
30        1  Electronics        Mobile   2017-10-16        10000
36        1  Electronics        Mobile   2017-10-20        20000
0         2  Electronics            TV   2017-09-23        20000
20        2  Electronics        Mobile   2017-10-11        10000
40        2  Electronics          Oven   2017-10-22         6000
7         3  Electronics  Refrigerator   2017-09-28        30000
10        4  Electronics        Mobile   2017-10-02        20000
32        4  Electronics            TV   2017-10-16        40000
34        4  Electronics  Refrigerator   2017-10-19        50000
    User id   Category Product Ordered Date  Price Spent
1         1  Groceries    Rice   2017-09-24         1500
21        1  Groceries    Atta   2017-10-11          200
12        2  Groceries    Rice   2017-10-03         1800
27        2  Groceries     Dal   2017-10-14          400
4         3  Groceries    Atta   2017-09-25          500
24        3  Groceries    Rice   2017-10-13         1200
6         4  Groceries     Dal   2017-09-28         2000
    User id              Category        Product Ordered Date  Price Spent
13        1  Movies/Entertainment  Movie Booking   2017-10-04          900
9         2  Movies/Entertainment  Movie Booking   2017-09-30         1200
28        2  Movies/Entertainment  Movie Booking   2017-10-14          600
11        3  Movies/Entertainment  Movie Booking   2017-10-02          600
31        3  Movies/Entertainment  Movie Booking   2017-10-16          300
14        4  Movies/Entertainment  Movie Booking   2017-10-04          500
22        4  Movies/Entertainment  Movie Booking   2017-10-12          500
    User id Category      Product Ordered Date  Price Spent
8         1  Transit  Cab Booking   2017-09-29         1000
29        1  Transit  Cab Booking   2017-10-16          200
17        2  Transit  Cab Booking   2017-10-08          400
26        2  Transit  Cab Booking   2017-10-14          300
15        3  Transit  Cab Booking   2017-10-05          300
35        3  Transit  Cab Booking   2017-10-19          500
38        3  Transit  Cab Booking   2017-10-20          200
2         4  Transit  Cab Booking   2017-09-24          300
39        4  Transit  Cab Booking   2017-10-20          400

C:\Users\merus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

In [170]:
#seggrigating by users
Users_data=data.groupby("User id")

In [171]:
p=(group.sort_index(by="Category", ascending=True) for Product,group in Users_data)

In [172]:
for i in p:
    print(i)

    User id              Category        Product Ordered Date  Price Spent
16        1              Apparels       Clothing   2017-10-07         2000
3         1           Electronics         Mobile   2017-09-25        15000
30        1           Electronics         Mobile   2017-10-16        10000
36        1           Electronics         Mobile   2017-10-20        20000
1         1             Groceries           Rice   2017-09-24         1500
21        1             Groceries           Atta   2017-10-11          200
13        1  Movies/Entertainment  Movie Booking   2017-10-04          900
8         1               Transit    Cab Booking   2017-09-29         1000
29        1               Transit    Cab Booking   2017-10-16          200
    User id              Category        Product Ordered Date  Price Spent
5         2              Apparels       Clothing   2017-09-26         2500
33        2              Apparels       Clothing   2017-10-19        20000
37        2              Apparels       Clothing   2017-10-20         2000
0         2           Electronics             TV   2017-09-23        20000
20        2           Electronics         Mobile   2017-10-11        10000
40        2           Electronics           Oven   2017-10-22         6000
12        2             Groceries           Rice   2017-10-03         1800
27        2             Groceries            Dal   2017-10-14          400
9         2  Movies/Entertainment  Movie Booking   2017-09-30         1200
28        2  Movies/Entertainment  Movie Booking   2017-10-14          600
17        2               Transit    Cab Booking   2017-10-08          400
26        2               Transit    Cab Booking   2017-10-14          300
    User id              Category        Product Ordered Date  Price Spent
18        3              Apparels       Clothing   2017-10-10         2000
23        3              Apparels       Clothing   2017-10-13        10000
7         3           Electronics   Refrigerator   2017-09-28        30000
4         3             Groceries           Atta   2017-09-25          500
24        3             Groceries           Rice   2017-10-13         1200
11        3  Movies/Entertainment  Movie Booking   2017-10-02          600
31        3  Movies/Entertainment  Movie Booking   2017-10-16          300
15        3               Transit    Cab Booking   2017-10-05          300
35        3               Transit    Cab Booking   2017-10-19          500
38        3               Transit    Cab Booking   2017-10-20          200
    User id              Category        Product Ordered Date  Price Spent
19        4              Apparels       Clothing   2017-10-10         3000
25        4              Apparels       Clothing   2017-10-14         3000
41        4              Apparels       Clothing   2017-10-22         2000
10        4           Electronics         Mobile   2017-10-02        20000
32        4           Electronics             TV   2017-10-16        40000
34        4           Electronics   Refrigerator   2017-10-19        50000
6         4             Groceries            Dal   2017-09-28         2000
14        4  Movies/Entertainment  Movie Booking   2017-10-04          500
22        4  Movies/Entertainment  Movie Booking   2017-10-12          500
2         4               Transit    Cab Booking   2017-09-24          300
39        4               Transit    Cab Booking   2017-10-20          400

C:\Users\merus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

In [173]:
p=(group.sort_index(by="Category", ascending=True) for Product,group in Users_data).apply(mean, axis=0)

AttributeError: 'generator' object has no attribute 'apply'

In [174]:
for i in p.all():
    print(i.apply(mean()))

AttributeError: 'generator' object has no attribute 'all'

In [175]:
print(data.groupby(["User id","Category","Product",])["Price Spent"].mean())

User id  Category              Product
1        Apparels              Clothing          2000.000000
         Electronics           Mobile           15000.000000
         Groceries             Atta               200.000000
                               Rice              1500.000000
         Movies/Entertainment  Movie Booking      900.000000
         Transit               Cab Booking        600.000000
2        Apparels              Clothing          8166.666667
         Electronics           Mobile           10000.000000
                               Oven              6000.000000
                               TV               20000.000000
         Groceries             Dal                400.000000
                               Rice              1800.000000
         Movies/Entertainment  Movie Booking      900.000000
         Transit               Cab Booking        350.000000
3        Apparels              Clothing          6000.000000
         Electronics           Refrigerator     30000.000000
         Groceries             Atta               500.000000
                               Rice              1200.000000
         Movies/Entertainment  Movie Booking      450.000000
         Transit               Cab Booking        333.333333
4        Apparels              Clothing          2666.666667
         Electronics           Mobile           20000.000000
                               Refrigerator     50000.000000
                               TV               40000.000000
         Groceries             Dal               2000.000000
         Movies/Entertainment  Movie Booking      500.000000
         Transit               Cab Booking        350.000000
Name: Price Spent, dtype: float64

In [176]:
data["Category"].value_counts()

Electronics             10
Apparels                 9
Transit                  9
Groceries                7
Movies/Entertainment     7
Name: Category, dtype: int64

In [177]:
#data["Category"]=data["Category"].astype("category")

In [178]:
#data["Category"].cat.categories

In [179]:
""""""for i in range(len(data["Category"])):
    if data["Category"]=="Apparels": 
        data["Category"][i]=1
    elif data["Category"][i]=="Electronics": 
        data["Category"][i]=2
    elif data["Category"][i]=="Groceries": 
        data["Category"][i]=3
    elif data["Category"][i]=="Transit": 
        data["Category"][i]=4
    elif data["Category"][i]=="Movies/Entertainment": 
        data["Category"][i]=5""""""

SyntaxError: invalid syntax (<ipython-input-179-10de034aa29c>, line 1)

In [180]:
data=pd.get_dummies(data,columns=["Category","Product"])

In [181]:
data.head()

,User id,Ordered Date,Price Spent,Category_Apparels,Category_Electronics,Category_Groceries,Category_Movies/Entertainment,Category_Transit,Product_Atta,Product_Cab Booking,Product_Clothing,Product_Dal,Product_Mobile,Product_Movie Booking,Product_Oven,Product_Refrigerator,Product_Rice,Product_TV
0,2,2017-09-23,20000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,2017-09-24,1500,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,4,2017-09-24,300,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
3,1,2017-09-25,15000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3,2017-09-25,500,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0

In [191]:
data.columns

Index(['User id', 'Price Spent', 'Category_Apparels', 'Category_Electronics',
       'Category_Groceries', 'Category_Movies/Entertainment',
       'Category_Transit', 'Product_Atta', 'Product_Cab Booking',
       'Product_Clothing', 'Product_Dal', 'Product_Mobile',
       'Product_Movie Booking', 'Product_Oven', 'Product_Refrigerator',
       'Product_Rice', 'Product_TV'],
      dtype='object')

In [192]:
data.rename(columns = {'Ordered Date':'Ordered_Date''Ordered_Date'}, inplace = True)
data.head()

,User id,Price Spent,Category_Apparels,Category_Electronics,Category_Groceries,Category_Movies/Entertainment,Category_Transit,Product_Atta,Product_Cab Booking,Product_Clothing,Product_Dal,Product_Mobile,Product_Movie Booking,Product_Oven,Product_Refrigerator,Product_Rice,Product_TV
0,2,20000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,1500,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,4,300,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
3,1,15000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3,500,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0

In [194]:
data.drop(['Ordered_Date'],axis=1, inplace=True)

ValueError: labels ['Ordered_Date'] not contained in axis

In [199]:
data.head()

,User id,Price Spent,Category_Apparels,Category_Electronics,Category_Groceries,Category_Movies/Entertainment,Category_Transit,Product_Atta,Product_Cab Booking,Product_Clothing,Product_Dal,Product_Mobile,Product_Movie Booking,Product_Oven,Product_Refrigerator,Product_Rice,Product_TV
0,2,20000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,1500,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,4,300,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
3,1,15000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3,500,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0

In [200]:
# clustering 
from sklearn.cluster import KMeans

In [201]:
kmeans = KMeans(n_clusters=2)
kmeans.fit(data)

centroids = kmeans.cluster_centers_
labels = kmeans.labels_

print(centroids)
print(labels)

[[  2.62500000e+00   2.68750000e+04   1.25000000e-01   8.75000000e-01
    0.00000000e+00   0.00000000e+00   2.77555756e-17   0.00000000e+00
    2.77555756e-17   1.25000000e-01   0.00000000e+00   3.75000000e-01
    0.00000000e+00   0.00000000e+00   2.50000000e-01   1.38777878e-17
    2.50000000e-01]
 [  2.52941176e+00   2.00882353e+03   2.35294118e-01   8.82352941e-02
    2.05882353e-01   2.05882353e-01   2.64705882e-01   5.88235294e-02
    2.64705882e-01   2.35294118e-01   5.88235294e-02   5.88235294e-02
    2.05882353e-01   2.94117647e-02  -3.46944695e-17   8.82352941e-02
   -3.46944695e-17]]
[0 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0
 1 1 1 1 1]

TypeError: float() argument must be a string or a number, not 'Timestamp'