In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

In [2]:
data=pd.read_excel("Data Science.xlsx",sheetname="Sheet1",na_values="0")

In [103]:
#data

In [45]:
display(data.head())

   User id     Category      Product Ordered Date  Price Spent
0        2  Electronics           TV   2017-09-23        20000
1        1    Groceries         Rice   2017-09-24         1500
2        4      Transit  Cab Booking   2017-09-24          300
3        1  Electronics       Mobile   2017-09-25        15000
4        3    Groceries         Atta   2017-09-25          500

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
User id         42 non-null int64
Category        42 non-null object
Product         42 non-null object
Ordered Date    42 non-null datetime64[ns]
Price Spent     42 non-null int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 1.7+ KB

In [4]:
data.describe()

         User id   Price Spent
count  42.000000     42.000000
mean    2.547619   6745.238095
std     1.108776  11377.324525
min     1.000000    200.000000
25%     2.000000    500.000000
50%     2.500000   1650.000000
75%     3.750000   9000.000000
max     4.000000  50000.000000

In [5]:
data["Category"].value_counts()

Electronics             10
Transit                  9
Apparels                 9
Movies/Entertainment     7
Groceries                7
Name: Category, dtype: int64

In [6]:
data.isnull().sum()

User id         0
Category        0
Product         0
Ordered Date    0
Price Spent     0
dtype: int64

In [7]:
data["Product"].value_counts()

Clothing         9
Cab Booking      9
Movie Booking    7
Mobile           5
Rice             3
Atta             2
Refrigerator     2
Dal              2
Tv               1
TV               1
Oven             1
Name: Product, dtype: int64

In [8]:
print(len(data))
data["Product"].iloc([4])
data["Product"][4]

42

'Atta'

In [3]:
for i in range(len(data["Product"])):
    if data["Product"][i]=="Tv": 
        data["Product"][i]="TV"
       # data[j] =data[j].map(lambda j: j.upper())

C:\Users\merus\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
data["Product"]
#data["Product"][32]

0                TV
1              Rice
2       Cab Booking
3            Mobile
4              Atta
5          Clothing
6               Dal
7      Refrigerator
8       Cab Booking
9     Movie Booking
10           Mobile
11    Movie Booking
12             Rice
13    Movie Booking
14    Movie Booking
15      Cab Booking
16         Clothing
17      Cab Booking
18         Clothing
19         Clothing
20           Mobile
21             Atta
22    Movie Booking
23         Clothing
24             Rice
25         Clothing
26      Cab Booking
27              Dal
28    Movie Booking
29      Cab Booking
30           Mobile
31    Movie Booking
32               TV
33         Clothing
34     Refrigerator
35      Cab Booking
36           Mobile
37         Clothing
38      Cab Booking
39      Cab Booking
40             Oven
41         Clothing
Name: Product, dtype: object

In [5]:
data["Product"].value_counts()

Clothing         9
Cab Booking      9
Movie Booking    7
Mobile           5
Rice             3
Refrigerator     2
Dal              2
Atta             2
TV               2
Oven             1
Name: Product, dtype: int64

In [6]:
#estimatiing the max price spent by users for each product in categories
print(data.groupby(["Category","Product"])["Price Spent"].max())

Category              Product
Apparels              Clothing         20000
Electronics           Mobile           20000
                      Oven              6000
                      Refrigerator     50000
                      TV               40000
Groceries             Atta               500
                      Dal               2000
                      Rice              1800
Movies/Entertainment  Movie Booking     1200
Transit               Cab Booking       1000
Name: Price Spent, dtype: int64

In [7]:
print(data.groupby(["Category","Product"])["User id"].count())

Category              Product
Apparels              Clothing         9
Electronics           Mobile           5
                      Oven             1
                      Refrigerator     2
                      TV               2
Groceries             Atta             2
                      Dal              2
                      Rice             3
Movies/Entertainment  Movie Booking    7
Transit               Cab Booking      9
Name: User id, dtype: int64

In [8]:
#seggrigating by categories
categories_data=data.groupby("Category")

In [9]:
t=(group.sort_index(by="User id", ascending=True) for Product,group in categories_data)

In [10]:
for i in t:
    print(i)

    User id  Category  Category_id   Product  Product_id Ordered Date  \
16        1  Apparels           11  Clothing           8   2017-10-07
5         2  Apparels           11  Clothing           8   2017-09-26
33        2  Apparels           11  Clothing           8   2017-10-19
37        2  Apparels           11  Clothing           8   2017-10-20
18        3  Apparels           11  Clothing           8   2017-10-10
23        3  Apparels           11  Clothing           8   2017-10-13
19        4  Apparels           11  Clothing           8   2017-10-10
25        4  Apparels           11  Clothing           8   2017-10-14
41        4  Apparels           11  Clothing           8   2017-10-22

    Price Spent
16         2000
5          2500
33        20000
37         2000
18         2000
23        10000
19         3000
25         3000
41         2000
    User id     Category  Category_id       Product  Product_id Ordered Date  \
3         1  Electronics            7        Mobile           2   2017-09-25
30        1  Electronics            7        Mobile           2   2017-10-16
36        1  Electronics            7        Mobile           2   2017-10-20
0         2  Electronics            7            TV           1   2017-09-23
20        2  Electronics            7        Mobile           2   2017-10-11
40        2  Electronics            7          Oven           7   2017-10-22
7         3  Electronics            7  Refrigerator           3   2017-09-28
10        4  Electronics            7        Mobile           2   2017-10-02
32        4  Electronics            7            TV           1   2017-10-16
34        4  Electronics            7  Refrigerator           3   2017-10-19

    Price Spent
3         15000
30        10000
36        20000
0         20000
20        10000
40         6000
7         30000
10        20000
32        40000
34        50000
    User id   Category  Category_id Product  Product_id Ordered Date  \
1         1  Groceries            1    Rice           4   2017-09-24
21        1  Groceries            1    Atta           5   2017-10-11
12        2  Groceries            1    Rice           4   2017-10-03
27        2  Groceries            1     Dal           6   2017-10-14
4         3  Groceries            1    Atta           5   2017-09-25
24        3  Groceries            1    Rice           4   2017-10-13
6         4  Groceries            1     Dal           6   2017-09-28

    Price Spent
1          1500
21          200
12         1800
27          400
4           500
24         1200
6          2000
    User id              Category  Category_id        Product  Product_id  \
13        1  Movies/Entertainment            5  Movie Booking          10
9         2  Movies/Entertainment            5  Movie Booking          10
28        2  Movies/Entertainment            5  Movie Booking          10
11        3  Movies/Entertainment            5  Movie Booking          10
31        3  Movies/Entertainment            5  Movie Booking          10
14        4  Movies/Entertainment            5  Movie Booking          10
22        4  Movies/Entertainment            5  Movie Booking          10

   Ordered Date  Price Spent
13   2017-10-04          900
9    2017-09-30         1200
28   2017-10-14          600
11   2017-10-02          600
31   2017-10-16          300
14   2017-10-04          500
22   2017-10-12          500
    User id Category  Category_id      Product  Product_id Ordered Date  \
8         1  Transit           13  Cab Booking           9   2017-09-29
29        1  Transit           13  Cab Booking           9   2017-10-16
17        2  Transit           13  Cab Booking           9   2017-10-08
26        2  Transit           13  Cab Booking           9   2017-10-14
15        3  Transit           13  Cab Booking           9   2017-10-05
35        3  Transit           13  Cab Booking           9   2017-10-19
38        3  Transit           13  Cab Booking           9   2017-10-20
2         4  Transit           13  Cab Booking           9   2017-09-24
39        4  Transit           13  Cab Booking           9   2017-10-20

    Price Spent
8          1000
29          200
17          400
26          300
15          300
35          500
38          200
2           300
39          400

C:\Users\merus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

In [11]:
#seggrigating by users
Users_data=data.groupby("User id")

In [12]:
p=(group.sort_index(by="Category", ascending=True) for Product,group in Users_data)

In [13]:
for i in p:
    print(i)

    User id              Category  Category_id        Product  Product_id  \
16        1              Apparels           11       Clothing           8
3         1           Electronics            7         Mobile           2
30        1           Electronics            7         Mobile           2
36        1           Electronics            7         Mobile           2
1         1             Groceries            1           Rice           4
21        1             Groceries            1           Atta           5
13        1  Movies/Entertainment            5  Movie Booking          10
8         1               Transit           13    Cab Booking           9
29        1               Transit           13    Cab Booking           9

   Ordered Date  Price Spent
16   2017-10-07         2000
3    2017-09-25        15000
30   2017-10-16        10000
36   2017-10-20        20000
1    2017-09-24         1500
21   2017-10-11          200
13   2017-10-04          900
8    2017-09-29         1000
29   2017-10-16          200
    User id              Category  Category_id        Product  Product_id  \
5         2              Apparels           11       Clothing           8
33        2              Apparels           11       Clothing           8
37        2              Apparels           11       Clothing           8
0         2           Electronics            7             TV           1
20        2           Electronics            7         Mobile           2
40        2           Electronics            7           Oven           7
12        2             Groceries            1           Rice           4
27        2             Groceries            1            Dal           6
9         2  Movies/Entertainment            5  Movie Booking          10
28        2  Movies/Entertainment            5  Movie Booking          10
17        2               Transit           13    Cab Booking           9
26        2               Transit           13    Cab Booking           9

   Ordered Date  Price Spent
5    2017-09-26         2500
33   2017-10-19        20000
37   2017-10-20         2000
0    2017-09-23        20000
20   2017-10-11        10000
40   2017-10-22         6000
12   2017-10-03         1800
27   2017-10-14          400
9    2017-09-30         1200
28   2017-10-14          600
17   2017-10-08          400
26   2017-10-14          300
    User id              Category  Category_id        Product  Product_id  \
18        3              Apparels           11       Clothing           8
23        3              Apparels           11       Clothing           8
7         3           Electronics            7   Refrigerator           3
4         3             Groceries            1           Atta           5
24        3             Groceries            1           Rice           4
11        3  Movies/Entertainment            5  Movie Booking          10
31        3  Movies/Entertainment            5  Movie Booking          10
15        3               Transit           13    Cab Booking           9
35        3               Transit           13    Cab Booking           9
38        3               Transit           13    Cab Booking           9

   Ordered Date  Price Spent
18   2017-10-10         2000
23   2017-10-13        10000
7    2017-09-28        30000
4    2017-09-25          500
24   2017-10-13         1200
11   2017-10-02          600
31   2017-10-16          300
15   2017-10-05          300
35   2017-10-19          500
38   2017-10-20          200
    User id              Category  Category_id        Product  Product_id  \
19        4              Apparels           11       Clothing           8
25        4              Apparels           11       Clothing           8
41        4              Apparels           11       Clothing           8
10        4           Electronics            7         Mobile           2
32        4           Electronics            7             TV           1
34        4           Electronics            7   Refrigerator           3
6         4             Groceries            1            Dal           6
14        4  Movies/Entertainment            5  Movie Booking          10
22        4  Movies/Entertainment            5  Movie Booking          10
2         4               Transit           13    Cab Booking           9
39        4               Transit           13    Cab Booking           9

   Ordered Date  Price Spent
19   2017-10-10         3000
25   2017-10-14         3000
41   2017-10-22         2000
10   2017-10-02        20000
32   2017-10-16        40000
34   2017-10-19        50000
6    2017-09-28         2000
14   2017-10-04          500
22   2017-10-12          500
2    2017-09-24          300
39   2017-10-20          400

C:\Users\merus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

In [25]:
p=(group.sort_index(by="Category", ascending=True) for Product,group in Users_data).apply(mean, axis=0)

AttributeError: 'generator' object has no attribute 'apply'

In [26]:
for i in p.all():
    print(i.apply(mean()))

AttributeError: 'generator' object has no attribute 'all'

In [14]:
print(data.groupby(["User id","Category","Product",])["Price Spent"].mean())

User id  Category              Product
1        Apparels              Clothing          2000.000000
         Electronics           Mobile           15000.000000
         Groceries             Atta               200.000000
                               Rice              1500.000000
         Movies/Entertainment  Movie Booking      900.000000
         Transit               Cab Booking        600.000000
2        Apparels              Clothing          8166.666667
         Electronics           Mobile           10000.000000
                               Oven              6000.000000
                               TV               20000.000000
         Groceries             Dal                400.000000
                               Rice              1800.000000
         Movies/Entertainment  Movie Booking      900.000000
         Transit               Cab Booking        350.000000
3        Apparels              Clothing          6000.000000
         Electronics           Refrigerator     30000.000000
         Groceries             Atta               500.000000
                               Rice              1200.000000
         Movies/Entertainment  Movie Booking      450.000000
         Transit               Cab Booking        333.333333
4        Apparels              Clothing          2666.666667
         Electronics           Mobile           20000.000000
                               Refrigerator     50000.000000
                               TV               40000.000000
         Groceries             Dal               2000.000000
         Movies/Entertainment  Movie Booking      500.000000
         Transit               Cab Booking        350.000000
Name: Price Spent, dtype: float64

In [15]:
data["Category"].value_counts()

Electronics             10
Apparels                 9
Transit                  9
Groceries                7
Movies/Entertainment     7
Name: Category, dtype: int64

In [26]:
#data["Category"]=data["Category"].astype("category")

In [27]:
#data["Category"].cat.categories

In [28]:
""""""for i in range(len(data["Category"])):
    if data["Category"]=="Apparels": 
        data["Category"][i]=1
    elif data["Category"][i]=="Electronics": 
        data["Category"][i]=2
    elif data["Category"][i]=="Groceries": 
        data["Category"][i]=3
    elif data["Category"][i]=="Transit": 
        data["Category"][i]=4
    elif data["Category"][i]=="Movies/Entertainment": 
        data["Category"][i]=5""""""

SyntaxError: invalid syntax (<ipython-input-28-10de034aa29c>, line 1)

In [86]:
cat_count=data["Category"].value_counts()
cat_count

Electronics             10
Transit                  9
Apparels                 9
Movies/Entertainment     7
Groceries                7
Name: Category, dtype: int64

In [16]:
a=list(np.unique(data["Category"]))
a[0]
a

['Apparels', 'Electronics', 'Groceries', 'Movies/Entertainment', 'Transit']

In [17]:
a.index("Electronics")
a.index(data["Category"][1])

2

In [18]:
for i in range(len(data["Category"])):
    if data["Category"][i] in a:
        data["Category"][i]=a.index(data["Category"][i])

C:\Users\merus\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
data["Category"]

0     1
1     2
2     4
3     1
4     2
5     0
6     2
7     1
8     4
9     3
10    1
11    3
12    2
13    3
14    3
15    4
16    0
17    4
18    0
19    0
20    1
21    2
22    3
23    0
24    2
25    0
26    4
27    2
28    3
29    4
30    1
31    3
32    1
33    0
34    1
35    4
36    1
37    0
38    4
39    4
40    1
41    0
Name: Category, dtype: object

In [ ]:
da=data["Category"]

In [76]:
category=[]
for i in range(len(data["Category"])):
    if data["Category"][i] not in category:
        category.append(data["Category"][i])
    elif data["Category"][i] in category:
        data["Category"][i]=category.index(data["Category"][i])

C:\Users\merus\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [99]:
data=pd.read_excel("Data Science.xlsx",sheetname="Sheet1",na_values="0")

In [100]:
category=[]
for i in range(len(data["Category"])):
    if data["Category"][i] not in category:
        category.append(data["Category"][i])
    elif data["Category"][i] in category:
        data.loc["Category"][i]=category.index(data["Category"][i])

C:\Users\merus\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [101]:
data.head()

   User id     Category      Product Ordered Date  Price Spent
0        2  Electronics           TV   2017-09-23        20000
1        1    Groceries         Rice   2017-09-24         1500
2        4      Transit  Cab Booking   2017-09-24          300
3        1            0       Mobile   2017-09-25        15000
4        3            1         Atta   2017-09-25          500

In [36]:
data.head()

,User id,Category,Product,Ordered Date,Price Spent
0,2,Electronics,TV,2017-09-23,20000
1,1,Groceries,Rice,2017-09-24,1500
2,4,Transit,Cab Booking,2017-09-24,300
3,1,<built-in method index of list object at 0x000...,Mobile,2017-09-25,15000
4,3,<built-in method index of list object at 0x000...,Atta,2017-09-25,500

In [61]:
print(category)
cat_count.index

['Electronics', 'Groceries', 'Transit', 'Apparels', 'Movies/Entertainment']

Index(['Electronics', 'Transit', 'Apparels', 'Groceries',
       'Movies/Entertainment'],
      dtype='object')

In [63]:
for i in range(len(data["Category"])):
    if data["Category"][i]==cat_count.index:
        data["Category"][i]=np.unique(np.random.randint(1, 10, 1))

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [54]:
for i in data["Category"]:
    if i==cat_count.values:
        print(i)

C:\Users\merus\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [52]:
data["Category"].head()

0    Electronics
1      Groceries
2        Transit
3    Electronics
4      Groceries
Name: Category, dtype: object

In [53]:
data.head()

   User id     Category      Product Ordered Date  Price Spent
0        2  Electronics           TV   2017-09-23        20000
1        1    Groceries         Rice   2017-09-24         1500
2        4      Transit  Cab Booking   2017-09-24          300
3        1  Electronics       Mobile   2017-09-25        15000
4        3    Groceries         Atta   2017-09-25          500

In [327]:
data=pd.get_dummies(data,columns=["Category","Product"])

In [264]:
data.head()

,User id,Ordered Date,Price Spent,Category_Apparels,Category_Electronics,Category_Groceries,Category_Movies/Entertainment,Category_Transit,Product_Atta,Product_Cab Booking,Product_Clothing,Product_Dal,Product_Mobile,Product_Movie Booking,Product_Oven,Product_Refrigerator,Product_Rice,Product_TV
0,2,2017-09-23,20000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,2017-09-24,1500,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,4,2017-09-24,300,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
3,1,2017-09-25,15000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3,2017-09-25,500,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0

In [265]:
data.columns

Index(['User id', 'Ordered Date', 'Price Spent', 'Category_Apparels',
       'Category_Electronics', 'Category_Groceries',
       'Category_Movies/Entertainment', 'Category_Transit', 'Product_Atta',
       'Product_Cab Booking', 'Product_Clothing', 'Product_Dal',
       'Product_Mobile', 'Product_Movie Booking', 'Product_Oven',
       'Product_Refrigerator', 'Product_Rice', 'Product_TV'],
      dtype='object')

In [266]:
data.rename(columns = {'Ordered Date':'Ordered_Date'}, inplace = True)
data.head()

,User id,Ordered_Date,Price Spent,Category_Apparels,Category_Electronics,Category_Groceries,Category_Movies/Entertainment,Category_Transit,Product_Atta,Product_Cab Booking,Product_Clothing,Product_Dal,Product_Mobile,Product_Movie Booking,Product_Oven,Product_Refrigerator,Product_Rice,Product_TV
0,2,2017-09-23,20000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,2017-09-24,1500,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,4,2017-09-24,300,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
3,1,2017-09-25,15000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3,2017-09-25,500,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0

In [267]:
data.drop(['Ordered_Date'],axis=1, inplace=True)

In [268]:
data.head()

,User id,Price Spent,Category_Apparels,Category_Electronics,Category_Groceries,Category_Movies/Entertainment,Category_Transit,Product_Atta,Product_Cab Booking,Product_Clothing,Product_Dal,Product_Mobile,Product_Movie Booking,Product_Oven,Product_Refrigerator,Product_Rice,Product_TV
0,2,20000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,1500,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,4,300,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
3,1,15000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3,500,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0

In [297]:
X=data.values
#X

In [280]:
# clustering 
from sklearn.cluster import KMeans

In [281]:
kmeans = KMeans(n_clusters=2)
kmeans.fit(data)

centroids = kmeans.cluster_centers_
labels = kmeans.labels_

print(centroids)
print(labels)

[[  2.52941176e+00   2.00882353e+03   2.35294118e-01   8.82352941e-02
    2.05882353e-01   2.05882353e-01   2.64705882e-01   5.88235294e-02
    2.64705882e-01   2.35294118e-01   5.88235294e-02   5.88235294e-02
    2.05882353e-01   2.94117647e-02  -3.46944695e-17   8.82352941e-02
   -3.46944695e-17]
 [  2.62500000e+00   2.68750000e+04   1.25000000e-01   8.75000000e-01
    0.00000000e+00   0.00000000e+00   2.77555756e-17   0.00000000e+00
    2.77555756e-17   1.25000000e-01   0.00000000e+00   3.75000000e-01
    0.00000000e+00   0.00000000e+00   2.50000000e-01   1.38777878e-17
    2.50000000e-01]]
[1 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 1
 0 0 0 0 0]

In [291]:
len(data)
data_new=data
data_new.head()

,User id,Price Spent,Category_Apparels,Category_Electronics,Category_Groceries,Category_Movies/Entertainment,Category_Transit,Product_Atta,Product_Cab Booking,Product_Clothing,Product_Dal,Product_Mobile,Product_Movie Booking,Product_Oven,Product_Refrigerator,Product_Rice,Product_TV
0,2,20000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,1500,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,4,300,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
3,1,15000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3,500,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0

In [333]:
wcss=[]
for i in range(1,len(data)):
    kmeans=KMeans(n_clusters=i,init="k-means++",max_iter=300,n_init=10,random_state=0)
    kmeans.fit(data.values)
    wcss.append(kmeans.inertia_)
plt.plot(range(len(data)),wcss)
plt.title("Elbow Curve")
plt.xlabel("Number of clusters")
plt.ylabel("wcss")
plt.show()

TypeError: float() argument must be a string or a number, not 'Timestamp'

In [330]:
kmeans=KMeans(n_clusters=i,init="k-means++",max_iter=300,n_init=10,random_state=0)
kmeans.fit(data.values)

TypeError: float() argument must be a string or a number, not 'Timestamp'